{% extends 'food/base.html' %}
    

{% block body %}
 {% for item in item_list %}
<div class="row my-2">
    <div class="col-md-3 offset-md-2">
        <img class="card" height="200px" width="300px" src="{{item.item_image}}" alt="">
    </div>
    <div class="col-md-4">
        <h3>{{item.item_name}}</h3>
        <h5>{{item.item_name}}</h5>
        <h5>Tk.{{item.item_price}}</h5>
    </div>
    <div class="col-md-2">
        <a href="{% url 'food:itemDetails' item.id %}" type="button" class="btn btn-success">View details</a>
    </div>
</div>
   {% endfor %}
        
{% endblock body %}

